/* EFFECTS */
.fade-in { 
    animation: fadeIn 1s ease-in-out forwards; 
}

.fade-in-img {
    animation: fadeInImg 500ms ease-in-out forwards; 
}

.fade-late {
    animation: fadeIn 1s ease-in-out forwards; 
    animation-delay: 1s; 
}

.fade-out-img {
    animation: fadeOutImg 500ms ease-in-out; 
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeInImg {
    0% {opacity: 0;}
    100% {opacity: 0.6;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOutImg {
    0% {opacity: 0.6;}
    100% {opacity: 0;}
}