/* BACKGROUND */
#background-img {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
    object-fit: cover;
    opacity: 70%;
    filter: blur(2px);
}

/* FIRST PAGE */
#first-page {
    padding: 0px 34px 0px 34px;
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    font-size: calc(6vw + 30px);
    font-weight: 700;
    margin: 0px;
    line-height: 0.8;
    padding: 15vh 0px 20vh 0px;
}

h2 {
    font-size: calc(1vw + 20px);
    font-weight: 250;
    padding: 25vh 20px 0px 20px;
}

#start {
    opacity: 0;
    font-size: calc(1vw + 20px);
    letter-spacing: -1.8px;
    background-color: var(--clear);
    border: 1px solid var(--text);
    padding: 6px 20px 6px 20px;
    margin: 10px 0px 8vh 0px;
}

/* SECOND PAGE */
#second-page {
    background-color: var(--background);
    padding: 0px 0px 0px 0px;
}

.second-page-img {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    min-width: 300px;
    object-fit: cover;
    opacity: 0%;
}

.second-page-btns {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 30% 5vw 30% 5vw;
}

.second-page-btn-div {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.second-page-btn {
    font-size: calc(4vw + 40px);
    font-weight: 600;
    background-color: var(--clear);
    border: 0px;
}

.second-page-btn:hover {
    border-bottom: 1px solid var(--text);
}

/* THIRD PAGE */
#third-page {
    background-color: var(--background);
}

/* NON-MOBILE */
@media (min-width: 500px) {
    #first-page {
        padding: 0px 20px 0px 20px;
    }

    h1 {
        padding: 31vh 0px 0px 0px;
    }

    h2 {
        padding: 0px 20px calc(20vh + 30px) 20px;
    }

    #start {
        margin: 0px 0px 10vh 0px;
    }
}

/* TABLETS */
@media (min-width: 600px) {
    .second-page-btns {
        flex-direction: row;
        justify-content: center;
    }

    .second-page-btn-div {
        justify-content: space-around;
    }

    .second-page-btn {
        font-size: calc(4vw + 20px);
    }
}

/* DESKTOPS */
@media (min-width: 800px) {
    .second-page-btns {
        padding: 5% 5% 5% 5%;
    }

    .second-page-btn-div {
        width: 27vw;
    }
}